/*start global*/

/*to fix the add of size of divs
to add automaticly web kit for all property
i use autoprefix css in sublime text
*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{

}

.container {
	width: 1200px;
	margin: auto;
/*	height: 800px;*/
}

ul.links {
	list-style: none;
	padding : 0;
	margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Merriweather');
/*end global*/

/*start navbar*/

.navbar{
	background-color: white;
	font-size: 22px;
	color: white;
	/*i need to make the header hidden or remove it i choose one of lot of tricks to do that*/
	height: 0;
	/*to raplace the problem of overflow i use my framwork*/
	/*overflow: hidden;*/ 
	position: relative;
	z-index: 6;
}

.navbar .brand {
	float: left;
	width : 40%;
	//margin-top: 5px;
	font-weight: bold;
}

.navbar .brand #brandColor{
	color: #85ffcf;
}

.navbar .links {
	float: left;
	width: 60%;
	margin-top: 20px;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	padding-left: 220px;
}

.navbar .links li {
	display: inline-block;
	padding: 10px 0px;
	margin: 0 10px;
	border-bottom :2px solid #85ffcf transparent;
	/*to change text style uppercase or lowercase*/
	/*text-transform: uppercase;*/
}
/*N.B. there is a differece between li.active and li .active*/
.navbar .links li.active,
.navbar .links li:hover {
	color: #85ffcf;
	border-bottom :2px solid #85ffcf;
}

.navbar .links li a {
	color: white;
	/*to elminate the line under*/
	text-decoration: none;

}

.navbar .links li.active a,
.navbar .links li a:hover {
	color: #85ffcf;
}



/*end navbar*/

/*start header*/

.header{
	background-image : linear-gradient(rgba(0,0,0,0.5),
	rgba(0,0,0,0.5)), url('../images/background2.jpg');
	background-repeat : no-repeat;
	position: relative;

}

.header .overlay{
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/*slider */
.header .bxslider p{
	color: white;
	font-size: 40px
}
.header .bxslider h2{
	color: white;
	font-size: 80px;
	color :#85ffcf;
}

.header .bxslider{
	height: 100%;
	width: 100%;
}

.header .bxslider li{
	display: block;
	height: 150px;
}

.header .bx-wrapper{
	box-shadow: none;
	border: 0;
	background : none;
	height: 100%;
	margin-bottom: 0;
}
.header .bx-wrapper .bx-viewport{
	height: 100% !important;
	text-align: center;
}





/*end header*/

/*start services*/
	
.services{
	padding: 80px 20px 40px
}

.services h2 {
	margin: 0 0 50px;
	font-weight:normal;
}

.services .item{
	float: left;
	width: 33.3333%;
	/*padding: 5px;*/
	margin-bottom: 30px;

}

.services .item i{
	color: #1cbf7f;
	float: left;
	width: 20%;
	margin-right: 5%;
	margin-top: 12px;
	transition-property: transform;
	transition-duration: 1s;

}

.services .item i:hover{
	transform : rotateY(180deg);
}


.services .item .info{
	float: left;
	width: 75%;
} 

.services .item .info h3{
	font-weight: normal;
	color: #555;
} 

.services .item .info p{
	font-weight: normal;
	color: #457974;
	padding-top: 10px;
} 


.ourTeam{
	padding: 40px 20px 82px
}

.ourTeam .box{
	float: left;
	width: 175px;
	height: 175px;
} 

.ourTeam .textBox{
	width: 33%;
}

.ourTeam .box:not(:last-of-type){
	margin: 0 2% 0 0;
}

.ourTeam .box p{
	font-weight: normal;
	color: #457974;
}
.ourTeam .box h2{
	margin: 0 0 50px;
	font-weight:normal;
} 

.ourTeam .box:not(:last-of-type){
	position: relative;
}


.ourTeam .box:not(:last-of-type) .overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	/*start text up images*/
	line-height: 175px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
	/*end text up images*/
	background-color: rgba(28, 191, 127, 0.5)/*#1cbf7f*/;
	/*i didn't use the opacity cause it affect all the overlay display even the text so i will use backgroud color rgba
	att google tape hex to rgba it will turn #1cbf7f to rgba(28, 191, 127, 1)*/
	/*opacity: 0.5;*/
	display: none;
	
}


/*end services*/

/*start About*/
.about{
	background : url('../images/about.jpg');
	-webkit-background-size :cover;
	-moz-background-size :cover;
	-o-background-size :cover;
	background-size :cover;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 80px 0px;
}


.about .abourOverlay{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%
	height : 100%;
	color: #FFF;
	background-color: rgba(112, 212, 249, 0.7);
}

.about h2{
	font-size: 36px;
	margin: 40px 0;
}

.about q {
	font-size: 24px;
	color: #f3f3f3f5;
	display: block;
	margin-top : 86px;
}

.about p {
	font-size: 30px;
	color: rgba(1,103,63,1);
}

.about .slider > div:not(:first-of-type){
	display: none;
}


/*.about .slider .active{
	display: block;
}*/



/*end About*/



/*start project*/

.projects{
	padding: 80px 0;
}	
.projects h2{
	font-weight: normal;
}

.projects ul{
	margin-top: 50px;
}

.projects ul li {
	display: inline-block;
	border : 2px solid #b3ccca;
	padding: 10px;
	color: #b3ccca;
	border-radius: 7px;
	margin-right: 5px;
}


.projects ul li.active{
	border-color: #1cbf7f;
	background-color: #1cbf7f;
	color: white
}

.projects .gallery{
	margin-top: 50px;
	overflow: hidden;
}

.projects .gallery .row > div:nth-child(2){
	margin-left : 1%;
	margin-right: 1%;	
}

.projects .gallery .row > div{
	width: 32.6666%;
	float: left;
	margin-bottom: 12px;
	position: relative;
}

.projects .gallery .row > div .overlay{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 98%;
	/*start text up images*/
	line-height: 227px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
	/*end text up images*/
	background-color: rgba(46, 224, 154, 0.6);
	display: none;
}

.projects .gallery .row > div .heart{
	position: absolute;
	right: 16px;
	bottom: 20px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	display: none;
}

.projects .gallery .row > div:hover .overlay{
	display: block;
}
.projects .gallery .row > div:hover .heart{
	display: block;
}

.projects .gallery .row > div img{
	width: 100%;

}





/*end project*/



/*start my framwork*/
/*after avery float i add an empty div with clearfix class*/
.clearfix {
	clear : both;
}

.smallyLine{
	/*position relative caude the content child will be absolute so it must be relatie*/
	position: relative
}

/*to create the small line under the main title for every pricipale div*/
.smallyLine:after {
	content : "";
	display: block;
	position: absolute;
	top: 40px;
	left: 0;
	width: 40px;
	border-bottom: 2px solid #333;
}

.line{
	border : 1px solid #76ccc4;
	display: block;
	margin : 0 0 80px 0;
}
/*end my framwork*/